.dashboard {
  width: 100%;
  &-welcome{
    background-image: url('/assets/pattern.svg');
    text-align: center;
    color: white;
    h1 {
      padding-top: 100px;
      padding-bottom: 20px;
      margin: 0;
    }
    &--buttons {
      padding-bottom: 30px;
      button:first-child {
        margin-right: 10px !important;
      }
    }
  }
}

.poll-area {
  padding: 20px;
  min-height: 400px;
  width: 70%;
  margin: 20px auto;
}

.poll-card {
  margin-bottom: 20px;
}