.appbar {
  align-items: center;
  h1 {
    cursor: pointer;
  }
  button {
    margin-top: 0 !important;
    div {
      span {
        color: white;
      }
    }
  }
}

@media (max-width: 900px) {
  .header-list {
    display: none;
  }
}