.landing {
  width: 100%;
  height: calc(100vh - 64px);
  background-image: url('/assets/pattern.svg');
  display: flex;
  justify-content: center;
  align-content: center;
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70%;
    h1 {
      text-align: center;
      color: white;
    }
  }
  &-buttons {
    display: flex;
    justify-content: center;
    button:first-child {
      margin-right: 10px !important;
    }
  }
}