.landing {
  width: 100%;
  height: calc(100vh - 64px);
  background-image: url('/assets/pattern.svg');
  display: flex;
  justify-content: center;
  align-content: center;
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60%;
    h1 {
      text-align: center;
      color: white;
    }
  }
  &-chart {
    margin-bottom: 40px;
  }
  &-buttons {
    display: flex;
    justify-content: center;
    button:first-child {
      margin-right: 10px !important;
    }
  }
}

@media (max-width: 500px) {
  .landing {
    &-container {
      width: 98%;
    }
  }
}

@media (min-width: 900px) {
  .landing {
    &-container {
      width: 40%;
    }
  }
}