.poll-container {
  width: 70%;
  margin: 20px auto;
  .poll-vote {
    margin-top: 20px !important;
    margin-right: 10px !important;
  }
  .poll-delete {
    margin-left: 10px !important;
  }
}

@media (max-width: 500px) {
  .poll-container {
    width: 96%;
  }
}

@media (min-width: 900px) {
  .poll-container {
    width: 50%;
  }
}